<div id="landing-right-content">
  <h1>Login</h1>
  <form [formGroup]="loginForm" (submit)="onSubmit()">
    <input type="text" placeholder="email" formControlName="email" />
    <div
      *ngIf="
        loginForm.get('email').touched &&
        loginForm.get('email').hasError('email')
      "
      class="text-danger"
    >
      Invalid email
    </div>
    <input type="text" placeholder="password" formControlName="password" />

    <button mat-stroked-button color="warn" class="btn" type="submit">
      Login
    </button>
  </form>
  <span><a href="">Forgot password?</a></span>
</div>
