<div id="home-page">
  <div id="home-page-landing">
    <!-- left-grid -->
    <div id="landing-left">
      <div id="landing-left-content">
        <h1>ShareLink</h1>
        <p class="tag1">Connecting moment,</p>
        <p class="tag2">one link at a time</p>
        <div class="new-user">
          <small>New user, </small>
          <button mat-flat-button color="warn" (click)="registerClick()">
            Create a new account
          </button>
        </div>
      </div>
    </div>
    <!-- right-grid -->
    <div id="landing-right">
      <ng-container *ngIf="!registerActive; else elseBlock">
        <app-login></app-login>
      </ng-container>

      <ng-template #elseBlock>
        <app-register></app-register>
      </ng-template>

      <!-- <div id="landing-right-content"></div> -->
    </div>
  </div>
</div>
