<div id="landing-right-content">
  <h1>Register</h1>
  <form>
    <div id="name-input">
      <input type="text" placeholder="first name" />
      <input type="text" placeholder="last name" />
    </div>
    <input type="text" placeholder="email" />
    <input type="text" placeholder="password" />
    <input type="text" placeholder="confirm password" />
    <button mat-raised-button color="warn" type="submit" class="btn">
      Register
    </button>
  </form>
  <span class="login"
    >Already have an account? <a href="" (click)="loginClick()">Login</a></span
  >
</div>
